.spinner {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}


/* Testing */
body,html,p {
  padding: 0;
  margin: 0;
}
*:focus {
  outline: none;
}
body {
  font: 17px/19px "Helvetica Neue", helvetica, arial, sans-serif;
  color: #363636;
  font-weight: normal;
  background-color: #f4f4f4;
}
a {
  text-decoration: underline;
  color: #888;
}
a:hover {
  color: #333;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-view {
  width: 480px;
  margin: 0 auto;
  padding: 80px 0 0 0;
}
.main-view-content {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 0 15px #888;
  -webkit-box-shadow: 0 0 15px #888;
  box-shadow: 0 0 15px #888;
  width: 480px;
  min-height: 400px;
  background: #aeaeae url("../images/header.png") no-repeat top left;
  padding-top: 110px;
  border: 10px solid #019934;
}
header,footer,.content {
  width: 480px;
  margin: 0 auto;
}
header {
  height: 50px;
}
header div {
  position: relative;
  height: 50px;
  top: 0px; 
}
header div p#greetings {
  position: absolute;
  bottom: 4px;
  left: 40px;
}
header div p.main-button {
  position: absolute;
  right: 15px;
  bottom: -5px;
}

header div p.session-user {
	position: absolute;
	font-size : 14px;
	left: 10px;
	bottom: 3px;
}
footer {
  padding-top: 12px;
  font-size: 15px;
  line-height: 21px;
  color: #888;
  text-align: center;
  text-shadow: #fff 1px 1px 1px;
}

footer p.minor {
	font-size: 13px;
}
form {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
  padding: 20px;
}
form label {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  -webkit-box-pack: start;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: center;
  -moz-box-pack: start;
  padding: 10px 0;
}
form span {
  width: 100px;
}
form input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 270px;
  height: 35px;
  padding: 5px 10px;
  padding-right: 20px;
  border: 1px solid #666;
  -moz-box-shadow: 0px 0px 3px #ccc;
  -webkit-box-shadow: 0px 0px 3px #ccc;
  box-shadow: 0px 0px 3px #ccc;
  -moz-box-shadow: inset 0 10px 15px #eee;
  -webkit-box-shadow: inset 0 10px 15px #eee;
  -moz-box-shadow: inset 0 10px 15px #eee;
  -webkit-box-shadow: inset 0 10px 15px #eee;
  box-shadow: inset 0 10px 15px #eee;
  font-size: 14px;
  color: #0000aa;
}
form input:focus {
  background: #fff;
  border: 2px solid #555;
  -moz-box-shadow: 0 0 3px #aaa;
  -webkit-box-shadow: 0 0 3px #aaa;
  box-shadow: 0 0 3px #aaa;
}
form input:focus:invalid {
  background: #fff url("../images/invalid.png") no-repeat 98% center !important;
  border-color: #f36;
}
form input:required:valid {
  background: #fff url("../images/valid.png") no-repeat 98% center;
}
form div.formFooter {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  -webkit-box-pack: start;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: center;
  -moz-box-pack: start;
  margin-top: 10px;
}
form button[type="submit"].main-button {
  margin: 10px 20px 0 100px;
}

form button[type="submit"].login {
margin: 10px 30px 0 100px;
float: right;
}

form p.bDelete,form p.bCancel {
  color: #888;
  text-decoration: underline;
}
form p.bDelete:hover,form p.bCancel:hover {
  color: #363636;
  cursor: pointer;
}
legend {
  display: none;
}
fieldset {
  border: none;
}

div.login {
	background: #AEAEAE url("../images/brushed_alu2.png") repeat top left;
	display: block;
	height: 300px;
	overflow: hidden;
}

#login-form {
  margin-top: 10px;
}
#login-form p {
  padding-left: 100px;
  padding-top: 0px;
  font-size: 13px;
  color: #666;
}
.main-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 125px;
  background-color: #019934;
  border: 5px solid #fff;
  padding: 5px 0;
  font-size: 17px;
  text-align: center;
  color: #fff;
  -moz-box-shadow: 0 0 8px #888;
  -webkit-box-shadow: 0 0 8px #888;
  box-shadow: 0 0 8px #888;
  -webkit-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  -webkit-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear;
  transition: color 0.5s linear;
  -webkit-transition: border-color 0.5s linear;
  -moz-transition: border-color 0.5s linear;
  transition: border-color 0.5s linear;
}
.logout {
  background-color: #990000;
}


.main-button:hover {
  background-color: #90bcea;
  border-color: #363636;
  color: #363636;
  cursor: pointer;
}

div.employee-edit {
	  background: #f4f4f4 url("../images/bg.png") repeat top left;
}
.disabledButton {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100px;
  padding: 5px 0;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f4f4f4));
  background: -moz-linear-gradient(top, #fff, #f4f4f4);
  background: linear-gradient(top, #fff, #f4f4f4);
  border: 1px solid #363636;
  color: #363636;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
}

.subButton {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100px;
  padding: 5px 0;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f4f4f4));
  background: -moz-linear-gradient(top, #fff, #f4f4f4);
  background: linear-gradient(top, #fff, #f4f4f4);
  border: 1px solid #363636;
  color: #363636;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
}
.subButton:hover {
  opacity: 0.85;
  cursor: pointer;
  
  background: #b8e1fc; /* Old browsers */
  background: -moz-linear-gradient(top, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8e1fc), color-stop(10%,#a9d2f3), color-stop(25%,#90bae4), color-stop(37%,#90bcea), color-stop(50%,#90bff0), color-stop(51%,#6ba8e5), color-stop(83%,#a2daf5), color-stop(100%,#bdf3fd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%); /* IE10+ */
  background: linear-gradient(top, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 ); /* IE6-9 */  
}
#employee-list-container {
  background: #f4f4f4 url("../images/bg.png") repeat top left;
  overflow-y: auto;
  height: 340px;
}
#employee-list {
  width: 100%;
}
#employee-list li {
  padding: 15px 30px;
  -webkit-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}
#employee-list li:hover {
  background-color: #d1a88e;
  color: #fff;
}
#employee-list li.active {
  background-color: #946b50;
  color: #fff;
}
#sub-nav {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  -webkit-box-pack: start;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: center;
  -moz-box-pack: start;
  height: 60px;
  width: 100%;
  	background: #AEAEAE url("../images/brushed_alu2.png") repeat top left;
  border-bottom: 1px solid #333;
  -moz-box-shadow: 0 0 15px #888;
  -webkit-box-shadow: 0 0 15px #888;
  box-shadow: 0 0 15px #888;
  
}
#sub-nav li {
  padding-left: 30px;
}
.stack > *:not(.active) {
  display: none;
}
